<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quartz create scheduled task front page</title>
</head>
<body>
<div class="col-sm-6 col-sm-offset-3">
    <div class="col-sm-offset-2" style="color:#D33;margin-top:30px;">
        <h2>Quartz 调度框架新增定时任务</h2>
    </div>
    <div style="margin-top:40px;">
        <form action="/quartz/insert" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-md-2 control-label">任务名称:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="jobName" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">任务组名称:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="jobGroupName" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">任务类路径:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="jobClassName" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">触发器名称:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="triggerName" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">触发器组名称:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="triggerGroupName" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">cron表达式:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="cronExpression" value=""/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3">
                    <input type="submit" value="添加任务" class="btn btn-success"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>