<component name="ArtifactManager">
  <artifact type="war" name="springcloud-nacos-producer:war">
    <output-path>$PROJECT_DIR$/springcloud-nacos/springcloud-nacos-producer/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springcloud-nacos-producer</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springcloud-nacos-producer-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springcloud-nacos-producer:war exploded" />
    </root>
  </artifact>
</component>