<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
    <!-- ICON Files -->
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/signin/">
    <!-- CSS Files -->
    <link href="./bootstrap-3.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/signin.css">
    <style type="text/css">

    </style>
    <!-- JavaScript Files -->

</head>
<body>
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please Sign in</h2>

        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="your username" required="" autofocus="">
        <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="your password" required="">

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<!-- JavaScript Files -->
<script type="text/javascript">

</script>
</body>
</html>